<% provide(:title, "Sellers") %>
  <div class="row col-md-5">
	<div class="well well-sm"><h3>Sellers <%= link_to 'Add new', new_seller_path, class: 'btn btn-sm btn-primary' %></h3></div>
	<div class="well well-sm"><%= count_for @sellers%></div>
	<% unless flash[:notice].blank? %>
		<div class="alert alert-success">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>
	
	

  <div class="panel panel-default">
  
  <div class="panel-heading"><strong>Seller details</strong></div>

  
  <table class="table table-hover">	
		<thead>
			<tr>
    		<th>Name</th>
    		<th>Rating</th>
    		<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<%= render @sellers.order(rating: :desc) %>
		</tbody>
	</table>
</div>


	
