<% provide(:title, "Sellers") %>
<div class="container">
	<h3>Sellers <%= link_to 'Create new', new_seller_path, class: 'btn btn-sm btn-primary' %></h3>
	<%= count_for @sellers%>
	<% unless flash[:notice].blank? %>
		<div class="alert alert-success">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>
	<br>
	<div class="well well-sm" style="width: 40%"><h4>Seller details</h4></div>
	
	<div class="row col-md-5">
	<table class="table table-hover">	
		<thead>
			<tr>
    		<th>Name</th>
    		<th>Rating</th>
    		<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<%= render @sellers.order(rating: :desc) %>
		</tbody>
	</table>
</div>