<% provide(:title, "Add New Seller") %>
 <div class = "row">
   <div class = "col-md-4 col-md-offset-4">
  
   <div class="well well-sm";><h1 style="text-align: center">Add new seller</h1>
 

   	<%= render 'shared/validation_messages', model: @seller %>

    <%= render 'form' %>

   </div>
 </div>
 </div>