<% provide(:title, "Edit Category") %>
<div class = "row">
  <div class = "col-md-4 col-md-offset-4">
  	<div class="well well-sm"><h1 style="text-align: center";>Update category</h1>

    <%= render 'shared/validation_messages', model: @category %>
    <%= render 'form' %>

    </div>
    <%= render 'back' %>
  </div>
</div>